//
// Simon Styles
//
// ==========================================================================

@import 'compass/css3';


$green      : #39B54A;
$red        : #ED1C24;
$blue       : #0055FF;
$yellow     : #FCEE21;


body {
  margin: 0;
  padding: 0;
}

#app {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 700px;
}

#board {
  position: relative;
  display: block;
  width: 600px;
  height: 600px;
  margin: 6% auto;
  border-radius: 50%;
  overflow: hidden;

  #pads {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-mask: url(../img/pad-mask.svg);

    .pad {
      float: left;
      width: 50%;
      height: 50%;
      cursor: -webkit-grabbing;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      &.active {
        cursor: -webkit-grab;
        @include animation(pulsate .25s 1);
      }

      &#pad1 {
        background: $green radial-gradient(circle at bottom right, $green, darken($green, 14%) 40%, darken($green, 14%) 55%, $green 100%);
      }

      &#pad2 {
        background: $red radial-gradient(circle at bottom left, lighten($red, 7%), darken($red, 17%) 40%, darken($red, 17%) 55%, lighten($red, 7%) 100%);
      }

      &#pad3 {
        background: $yellow radial-gradient(circle at top right, lighten($yellow, 15%), darken($yellow, 18%) 40%, darken($yellow, 18%) 55%, lighten($yellow, 15%) 100%);
      }

      &#pad4 {
        background: $blue radial-gradient(circle at top left, lighten($blue, 10%), darken($blue, 13%) 40%, darken($blue, 13%) 55%, lighten($blue, 10%) 100%);
      }
    }
  }

  #trim {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/board.svg) center no-repeat;
    background-size: cover;
  }
}

@include keyframes(pulsate) {
  0% { opacity: 1 }
  50% { opacity: 0.65 }
  100% { opacity: 1 }
}
