//
// Simon Styles
//
// ==========================================================================

@import 'compass/css3';


$green              : #1BB545;
$green-light        : lighten($green, 8%);
$green-dark         : darken($green, 8%);
$red                : #FC1D2B;
$red-light          : lighten($red, 10%);
$red-dark           : darken($red, 18%);
$blue               : #105BfB;
$blue-light         : lighten($blue, 10%);
$blue-dark          : darken($blue, 10%);
$yellow             : #FEEC35;
$yellow-light       : lighten($yellow, 20%);
$yellow-dark        : darken($yellow, 18%);

$pulse-duration     : .3s;


body {
  margin: 0;
  padding: 0;
}

#app {
  display: block;
  width: 100%;
  height: 100%;
}

#board {
  position: relative;
  display: block;
  width: 471px;
  height: 471px;
  margin: 3% auto 0;
  border-radius: 50%;
  box-shadow: 0 0 60px rgba(#000, 0.3);
  overflow: hidden;

  #pads {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s;
    mask: inline-svg-image('../img/pad-mask.svg', '#mask');
    -webkit-mask: inline-svg-image('../img/pad-mask.svg', '');

    .pad {
      float: left;
      width: 50%;
      height: 50%;
      cursor: -webkit-grab;
      -webkit-tap-highlight-color: rgba(#000, 0);

      &.active {
        @include animation(pulse $pulse-duration ease-in 1);
      }

      &#pad1 {
        background: $green radial-gradient(circle at bottom right, $green-light, $green-dark 40%, $green-dark 55%, $green-light 100%);

        .no-touch &:hover {
          background: $green-dark;
        }
      }

      &#pad2 {
        background: $red radial-gradient(circle at bottom left, $red-light, $red-dark 40%, $red-dark 55%, $red-light 100%);

        .no-touch &:hover {
          background: $red-dark;
        }
      }

      &#pad3 {
        float: right;
        background: $blue radial-gradient(circle at top left, $blue-light, $blue-dark 40%, $blue-dark 55%, $blue-light 100%);

        .no-touch &:hover {
          background: $blue-dark;
        }
      }

      &#pad4 {
        background: $yellow radial-gradient(circle at top right, $yellow-light, $yellow-dark 40%, $yellow-dark 55%, $yellow-light 100%);

        .no-touch &:hover {
          background: $yellow-dark;
        }

        &.active {
          @include animation(pulse-alt $pulse-duration ease-in 1);
        }
      }
    }
  }

  #trim {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inline-svg-image('../img/board.svg', '') center no-repeat;
    background-size: cover;
  }
}

@include keyframes(pulse) {
  0% { opacity: 1 }
  50% { opacity: 0.4 }
  100% { opacity: 1 }
}

@include keyframes(pulse-alt) {
  0% { opacity: 1 }
  50% { opacity: 0.25 }
  100% { opacity: 1 }
}



#hud {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}
